@media screen and (max-width:600px) {
    .nav-menu{
        display: none;
    }
    .nav-icon {
        height: 40px;
        position: relative;
        display: flex;
    }

    .nav-icon:hover{
        border: 2px solid #FF5400;
    }
    
    
    .container {
        width: 90%;
    }
    
    .banner-title {
        font-size: 2rem;
    }
    
    .common-description {
        margin-top: 0.5rem;
        margin-bottom: 0;
        font-weight: 300;
    }

    .common-title {
        color: var(--black);
        font-size: 2.1rem;
        font-weight: 800;
    }

    .banner-form>input, select {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    font-weight: 800;
    padding-left: 1rem;
    color: grey;
    }

    .banner-form {
        padding: 1rem;
        width: 90%;
        margin-bottom: 4rem;
    }

    .banner-button{
        width: 100%;
    }


    .popular-tours-section {
        flex-direction: column;
        gap: 2rem;
    }

    .popular-tours-content{
        width: 100%;
    }

    .destination-images {
        display: flex;
        flex-direction: column;
        margin: 1.5rem 0;
    }

    .destination-images img {
        height: 15rem;
        border-radius: 1rem;
    }


    .choose-us-middle {
        flex-direction: column;
    }

    .choose-us-card-1, .choose-us-card-2, .choose-us-card-3 {
        width: 85%;
        margin: 1rem auto;
        padding: 1.5rem;
    }


    .deals-card-top {
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .deals-card-child {
        width: 80%;
        margin: 15rem auto 0 auto;
        padding: 1rem 3.1rem 3.1rem 3.1rem;
    }

    .deals-section>p>input{
        display: none;
    }


    .perfect-place-section {
        flex-direction: column;
    }

    .perfect-place-text-description {
        margin-top: 1rem;
    }

    .newsletter-section {
        flex-direction: column;
        gap: 2rem;
    }

    .newsletter-form {
        width: 100%;
    }

    .footer-top {
        gap: 2rem;
    }

    .newsletter-image-tag {
        top: 39%;
        left: 27%;
    }

}